.lista{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.lista a {
    text-decoration: none;
    padding: 10px 40px;
    background-color: rgb(0, 55, 255);
    color: white;
    border: none;
    border-radius: 5px;
    /* Transição suave */
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s;
}

.lista a:hover {
    /* box-shadow: horizontal vertical desfoque cor */
    box-shadow: 0 0 15px #007bff, 0 0 30px #007bff;
    background-color: #2e007d;
    /* Clareia levemente o fundo */
}
